axios
@nestjs/swagger
swagger-ui-express
class-validator
class-transformer
dotenv
cors



@prisma/client@5
prisma@5


@types/node
@types/bcrypt
@types/express

@nestjs/jwt
@types/jsonwebtoken
--save-dev vite